pandas
numpy
matplotlib
networkx
pydantic
sexpdata
streamlit
fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
groq
python-dotenv
